
[build]
  command = "npm run build"
  publish = "."

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build]
  # Esta linha 'base' diz ao Netlify para entrar na pasta 'raiz' antes de começar
  base = "raiz"
  command = "npm run build"
  publish = "."

[[redirects]]
  # Garante que as rotas do React funcionem (F5 não dá erro 404)
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "20"
